:root {
  --background: #faf8ff;
  --black: #474554;
  --primary: #646cfd;
  --primary-hover: #008cf3;
  --grey: #aca9bb;
  --white: white;
  --purple: #b3abe2;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.container {
  width: 100%;
  max-width: 1300px;
  position: static;
}

.body {
  box-sizing: border-box;
  text-align: center;
  object-fit: fill;
  min-height: 0;
  overflow: visible;
}

.heading {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  line-height: 50px;
}

.hero {
  background-color: var(--background);
  color: var(--black);
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-clip: border-box;
  height: 100vh;
  min-height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
}

.video {
  margin-top: 60px;
}

.button {
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  max-width: 650px;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 600;
  transition: background-color .3s;
}

.button:hover {
  background-color: var(--primary-hover);
}

.div-block {
  flex-flow: row;
  align-items: stretch;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 50%;
  display: flex;
}

.heading1 {
  text-align: left;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 50px;
  line-height: 58px;
}

.paragraph {
  color: var(--grey);
  text-align: left;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.primary {
  background-color: var(--primary);
  cursor: pointer;
  border-radius: 25px;
  flex: 0 auto;
  order: 0;
  align-self: flex-start;
  padding: 15px 30px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: background-color .3s;
  display: block;
}

.primary:hover {
  background-color: var(--primary-hover);
}

.primary.primary-big {
  vertical-align: baseline;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  margin-top: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
  display: none;
}

.primary.primary-form {
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  margin-top: 0;
}

.primary.primary-header {
  display: block;
}

.primary.primary-project {
  display: inline-block;
}

.div-block-3 {
  width: 50%;
  position: relative;
  overflow: visible;
}

.image {
  -webkit-text-fill-color: inherit;
  mix-blend-mode: darken;
  background-clip: border-box;
}

.image-2 {
  mix-blend-mode: darken;
  width: auto;
  max-width: 196%;
  position: absolute;
  inset: -81% -106% auto auto;
}

.image-3 {
  aspect-ratio: auto;
  mix-blend-mode: darken;
  object-fit: fill;
  width: 100%;
  max-width: none;
  position: absolute;
  inset: -29% auto auto 9%;
  overflow: visible;
}

.header {
  z-index: 10;
  background-color: var(--white);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  inset: 0% auto auto 0%;
}

.div-block-4 {
  vertical-align: baseline;
  display: inline-block;
}

.image-4 {
  display: block;
}

.div-block-5 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.konsultacje {
  background-image: linear-gradient(180deg, #fff, var(--background));
  padding-top: 60px;
  padding-bottom: 60px;
  display: none;
}

.section-2 {
  background-color: var(--primary);
  height: 75vh;
}

.faq {
  padding-top: 80px;
  padding-bottom: 80px;
}

.heading2 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 60px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 40px;
}

.heading2.heading2-white {
  color: var(--white);
}

.faq-items {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.faq-item {
  border: 2px solid var(--grey);
  cursor: pointer;
  padding: 20px;
  transition: none;
}

.faq-item:hover {
  border-style: solid;
  border-color: var(--primary);
}

.paragraph-2 {
  color: var(--black);
  text-align: left;
  width: 100%;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.div-block-6 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  cursor: pointer;
  align-items: flex-start;
  display: flex;
}

.paragraph-3 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}

.div-block-7 {
  cursor: auto;
  height: auto;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
}

.image-5 {
  mix-blend-mode: darken;
}

.contact {
  background-image: linear-gradient(180deg, #fff, var(--background));
  padding-top: 80px;
  padding-bottom: 80px;
}

.form-block {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.text-field {
  border: 1px solid var(--grey);
  color: var(--black);
  border-radius: 8px;
  margin-bottom: 40px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.text-field::placeholder {
  color: var(--black);
  font-size: 16px;
}

.field-label {
  color: var(--black);
  text-align: left;
  margin-bottom: 8px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
}

.text-block {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.success-message {
  background-color: var(--primary);
  opacity: 0;
  color: var(--white);
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.text-block-2 {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.projects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects-grid {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.projects-grid-item {
  box-shadow: 3px 3px 10px 0 var(--black);
  border-radius: 10px;
  text-decoration: none;
  transition: box-shadow .3s;
  overflow: hidden;
}

.projects-grid-item:hover {
  box-shadow: 3px 3px 10px 0 var(--primary);
}

.figure {
  aspect-ratio: 2;
  object-fit: fill;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}

.image-6 {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.div-block-8 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  padding: 30px 20px;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.text-block-3 {
  color: var(--black);
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
}

.text-block-4 {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
}

.form-button-row {
  justify-content: flex-start;
  display: flex;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.project-main {
  background-color: var(--background);
  padding-top: 160px;
  padding-bottom: 160px;
}

.project-main-content {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  display: grid;
  position: static;
}

.project-main-content-left {
  width: auto;
}

.heading1-project {
  color: var(--black);
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
}

.project-text-p {
  text-align: center;
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.project-text-bold {
  color: var(--black);
  font-weight: 700;
}

.div-block-9 {
  justify-content: center;
  display: flex;
}

.project-info-box {
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.globe-icon {
  color: var(--primary);
  width: 20px;
}

.project-info-item {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.project-info-link {
  color: var(--black);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
}

.project-info-link:hover {
  color: var(--primary);
}

.project-info-text {
  color: var(--black);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.project-main-content-right {
  width: auto;
  height: 100%;
  margin-bottom: 0;
}

.project-main-img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  max-width: none;
  height: auto;
  position: static;
  top: 0;
}

.project-main-img-box {
  width: 100%;
  margin-bottom: 0;
  position: sticky;
  top: 60px;
  left: auto;
  right: auto;
}

.book-icon {
  color: var(--primary);
  width: 20px;
}

.mobile-icon {
  color: var(--primary);
  width: 18px;
}

.ssl-icon {
  color: var(--primary);
  width: 20px;
}

.form-icon {
  color: var(--primary);
  width: 18px;
}

.div-block-10 {
  background-color: #d33333;
  width: 100%;
  height: 100px;
}

.form.form-hide {
  display: none;
}

.error-message {
  opacity: 0;
  height: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.form-success {
  background-color: var(--primary);
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.form-success.form-success-show {
  display: block;
}

.text-block-5 {
  color: var(--white);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
}

.form-fail {
  background-color: #ffdcdc;
  border-radius: 8px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

.form-fail.form-fail-show {
  display: block;
}

.text-block-6 {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
}

.reviews {
  background-color: var(--black);
  padding-top: 80px;
  padding-bottom: 80px;
}

.slider {
  background-color: #ddd0;
  height: auto;
  min-height: auto;
  padding-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}

.mask {
  width: 600px;
  height: auto;
  margin-bottom: 0;
  overflow: visible;
}

.slide {
  margin-right: 50px;
}

.reviews-slide-box {
  padding-left: 0;
}

.quote-left-icon {
  color: var(--white);
  width: 40px;
}

.reviews-text-box {
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.reviews-text {
  color: var(--white);
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.show-more-text {
  color: var(--primary);
  cursor: pointer;
  background-color: #3898ec00;
  padding: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: color .3s;
  display: inline-block;
}

.show-more-text:hover {
  color: var(--primary-hover);
}

.left-arrow {
  display: block;
  inset: auto auto 5% 0%;
  overflow: visible;
}

.show-less-text {
  color: var(--primary);
  cursor: pointer;
  background-color: #3898ec00;
  padding: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: color .3s;
  display: inline-block;
}

.show-less-text:hover {
  color: var(--primary-hover);
}

.slide-nav {
  inset: auto 0% 0%;
}

.reviews-author {
  color: var(--white);
  margin-top: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 25px;
  font-weight: 600;
  position: static;
}

.icon, .icon-2 {
  color: var(--white);
}

.right-arrow {
  inset: auto 0% 5% auto;
  overflow: visible;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero {
    padding-top: 140px;
  }

  .div-block-2 {
    width: 50%;
  }

  .heading1 {
    font-size: 45px;
  }

  .div-block-3 {
    width: 50%;
  }

  .image-3 {
    width: 100%;
    position: absolute;
    top: -8%;
    left: 9%;
  }

  .div-block-5 {
    justify-content: space-between;
  }

  .heading2 {
    font-size: 35px;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  .image-6 {
    width: 100%;
    max-width: none;
  }

  .heading1-project {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: none;
  }

  .heading {
    font-size: 30px;
  }

  .hero {
    padding-top: 100px;
  }

  .button {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
  }

  .div-block {
    flex-flow: column;
  }

  .div-block-2 {
    width: 100%;
  }

  .heading1 {
    font-size: 40px;
  }

  .primary.primary-form {
    max-width: none;
  }

  .div-block-3 {
    width: 100%;
  }

  .image-3 {
    display: none;
  }

  .konsultacje {
    background-image: linear-gradient(180deg, #fff, var(--background));
  }

  .heading2 {
    font-size: 32px;
  }

  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }

  .figure {
    height: auto;
  }

  .project-main-content {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .project-main-img-box {
    position: static;
  }

  .mask {
    width: 100%;
  }

  .reviews-text-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .left-arrow, .right-arrow {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .button {
    line-height: 23px;
  }

  .heading1 {
    font-size: 35px;
  }

  .primary.primary-big {
    padding: 20px 30px;
    font-size: 20px;
    line-height: 25px;
  }

  .heading2 {
    font-size: 30px;
  }

  .paragraph-2 {
    font-size: 18px;
  }

  .paragraph-3 {
    font-size: 16px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .figure {
    height: auto;
  }

  .project-main-content {
    grid-template-rows: auto;
    overflow: visible;
  }

  .project-main-content-left {
    width: auto;
    overflow: hidden;
  }

  .heading1-project {
    font-size: 28px;
  }

  .project-main-content-right {
    width: auto;
    height: auto;
    overflow: visible;
  }
}

@media screen and (max-width: 767px) {
  #w-node-c855b509-cf49-fbc0-ba62-2bcfc4da0870-ff7f67ca, #w-node-c855b509-cf49-fbc0-ba62-2bcfc4da0870-d03c434c, #w-node-c855b509-cf49-fbc0-ba62-2bcfc4da0870-2cf8238d, #w-node-c855b509-cf49-fbc0-ba62-2bcfc4da0870-95e879df {
    order: -9999;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_97e6aad9-d88c-5046-2796-91c7d2114e58-d03c434c, #w-node-c855b509-cf49-fbc0-ba62-2bcfc4da0870-d03c434c {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


